body {
    background-color: #EBE65E !important; 
}
.item{
    border:2px solid #ABABAB;
    display: inline-block;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    vertical-align: top;
    color: white;
}

.item img{
    width: 190px;
    height: 120px;
    margin: 5px;
}

.item .button-div{
    text-align: center;
}

.item .item-price{
    color:rgb(158,30,30);
    font-size: 2rem;
    font-weight: bold;
}

.search-container {
    margin-top: 2em;
}




